html,
body {
  @apply min-h-screen text-base text-white bg-rich-black;
}

html {
  @apply antialiased scroll-smooth;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

a,
span {
  @apply inline-block;
}

h1 {
  @apply sm:text-4xl text-3xl font-bold;
}

p {
  @apply opacity-75;
}
